@{
    ViewData["Title"] = "NULL";
}

<div class="page-header">
	<h1><i class="fa fa-code-fork"></i> Under construction</h1>
</div>

<div class="jumbotron">
	<h2>Sorry... <small>Not finished with this part yet</small></h2>
	<h3>Feel free to contact the author if you want to contribute</h3>
</div>

<address>
    <strong>Email:</strong> <a href="mailto:rsalayo@openit.com">rsalayo@openit.com</a><br />
    <strong>Skype:</strong> <a href="skype:Marketing@example.com">rsalayojr</a>
</address>
